{% extends "book_outlet/base.html"%}

{% block title %}
All Books
{% endblock %}

{% block content %}
<div class="d-flex bd-highlight mb-3">
  <div class="me-auto p-2 bd-highlight">
    Number of Books :{{no_of_books}}
  </div>
  <div class="p-2 bd-highlight">Average Rating : {{avg_rating.rating__avg}}</div>
</div>

<table class="table table-sm table-hover ps-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{book.id}}</th>
      <td>
        <a href="{{ book.slug }}" class="link-primary">{{book.title}}</a>
      </td>
      <td>{{book.author}}</td>
      <td>{{book.rating}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}